[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
elasticsearch = "*"
fastapi = "*"
boto3 = "*"
logging2slack = "*"

[dev-packages]

[requires]
python_version = "3.11"
